@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
*{
    box-sizing: border-box;
}

body{
    font-family: 'Roboto',sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    height: 100vh;
    overflow: hidden;
}

.container{
    display: flex;
    width: 90vw;
}

.slide{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50px;
    height: 80vh;
    flex: 0.5;
    cursor: pointer;
    position: relative;
    margin: 10px;
    transition: flex 0.7s ease-in;
    color: rgb(255, 255, 255);
}

h3{
    bottom: 20px;
    left: 20px;
    position: absolute;
    opacity: 0;
    margin: 0;
}

.slide.active{
    flex: 5;
}

.slide.active h3{
    opacity: 1;
    transition: opacity 0.3s ease-in 0.5s ;
}

@media(max-width:480px){
    /* for mantaining vetical display of slides but hiding last two slides on 480px or less screen sizes */
    /* .slide:nth-of-type(4), .slide:nth-of-type(5){
        display: none;
    } */

    .container{
        display: flex;
        flex-direction: column;
        width: 70vw;
        height: 70vh;
    }

}


